# Ignore arquivos e pastas de ambiente virtual
.venv/
venv/

# Ignore arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore arquivos de banco de dados SQLite
routine_manager.db

# Ignore arquivos de configuração locais
.env
*.env

# Ignore arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignore arquivos de log
*.log
